@import 'base/variables';

.pick {
  width: 40px;
  height: 0%;
  padding: 10px;
}

table {
  text-align: right;
  margin-left: 20px;
  tr {
    padding: 0 10px 0 10px;
    th {
      padding: 5px 10px 10px 0;
      text-decoration: underline;
      color: $color-alt-text;
    }
    td {
      padding: 5px 20px 5px 0;
    }
  }
}
