html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #2d2b30; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background: #2d2b30; }

/* Link Styles */
a {
  text-decoration: none;
  color: #999; }

a:hover {
  color: #999; }

.photo {
  width: 60%;
  padding: 10px; }
  @media (min-width: 840px) {
    .photo {
      width: 40%; } }

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block; }

.container {
  text-align: center; }

.newsletter {
  text-align: right; }
