html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #2d2b30;
}

a {
  text-decoration: underline;
}
a:focus {
  outline: 2px solid #2abb9b;
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #2abb9b;
  margin-top: 20px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.photo {
  width: 60%;
  margin: 10px;
}
@media (min-width: 840px) {
  .photo {
    width: 40%;
  }
}

.container {
  text-align: center;
}

form {
  margin: -5px auto 0 20px;
  text-align: left;
  display: inline-block;
}
form fieldset {
  margin: 20px 0 20px 0;
}
form fieldset:first-child {
  margin: 0 0 20px 0;
}
form label {
  display: block;
  padding: 10px 0 10px 0;
}
form label.favourite-radio {
  display: inline-block;
}
form input:focus,
form textarea:focus,
form select:focus {
  border: 2px solid #2abb9b;
  background: #ffa400;
}
