header {
  @include display-flex();
  @include flex-wrap(nowrap);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include query-840 {
    min-height: 470px;
  }
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  height: 350px;
  h1 {
    font-family: $montserrat-stack;
    font-size: $base-font-size + 42;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: $color-body-bg;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  h2 {
    @extend h1;
    font-size: $base-font-size + 14;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: $color-body-bg;
  }
}
