html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
  text-align: center;
  font-family: $open-stack;
  color: $color-text;
  background: $color-body-bg;
}

a {
  text-decoration: none;
}
