.card {
  @include single-transition(border-color, 500ms);
  @include query-840 {
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid $color-alt-text;
  clear: both;
  &:hover {
    border-color: $color-text;
  }
  p {
    padding: 10px 0 10px 0;
  }
  a {
    display: inline-block;
    padding: 10px 0 10px 0;
    color: $color-link;
    &:hover {
      color: $color-text;
    }
  }
}

.flex {
  @include query-840 {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }
  .photo {
    @include single-box-shadow(0,0,20px,0,$color-black);
    @include query-840 {
      width: 30%;
      margin: 20px 30px;
    }
    display: block;
    width: 200px;
    height: 0%;
    margin: 0 auto;
  }
  .information {
    @include query-840 {
      text-align: left;
    }
    width: 100%;
    text-align: center;
  }
}
